node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.gitattributes
.env
*/*/bin
*/*/obj
*.md
LICENSE
.vscode
.vs
*.yaml
*.yml
.idea/
docs/
images/
k8s/
OpenReservation.API.Test/
OpenReservation.Clients/
OpenReservation.SourceGeneratorTest/
OpenReservation.UnitTest/
tests/
