trigger:
  branches:
    include:
    - '*'  # must quote since "*" is a YAML reserved character; we want a string
  paths:
    include:
    - '*'
    exclude:
    - '**/*.md'
    - /OpenReservation.Clients/
    - /docs/
    - /k8s/

pool:
  vmImage: 'ubuntu-latest'

variables:
  tagName: '$(Build.BuildNumber)'
  repoName: 'open-reservation'
  stableImageName: '$(dockerId)/$(repoName):stable'
  latestImageName: '$(dockerId)/$(repoName):latest'
  branchImageName: '$(dockerId)/$(repoName):$(Build.SourceBranchName)'
  imageName: '$(dockerId)/$(repoName):$(tagName)'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET Core sdk'
  inputs:
    packageType: sdk
    version: 3.1.100

- script: dotnet --info
  displayName: 'dotnet info'

- script: dotnet build -c Release
  displayName: 'dotnet build'

- script: dotnet test 
  displayName: 'dotnet test'

- script: docker build -f Dockerfile -t $(imageName) -t $(branchImageName) -t $(latestImageName) -t $(stableImageName) .
  displayName: 'Docker build Script'

- script: |
    docker login -u $(dockerId) -p $(pswd)
    docker push $(imageName)
    docker push $(branchImageName)
  displayName: 'Push docker image'

- script: |
    docker push $(latestImageName)
  displayName: 'Push latest image'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/dev'))

- script: docker push $(stableImageName)
  displayName: 'Push stable image'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

- task: SSH@0
  displayName: 'Run shell inline on remote machine'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/dev'))
  inputs:
    sshEndpoint: 'weihanli-vm'
    runOptions: inline

    inline: |
      kubectl set image deployment/reservation-server reservation-server=$(imageName) --record=true
