trigger:
  branches:
    include:
    - '*'  # must quote since "*" is a YAML reserved character; we want a string
  paths:
    include:
    - '*'
    exclude:
    - '*.md'
    - /ActivityReservation.Clients/
    - /docs/

pool:
  vmImage: 'ubuntu-latest'

variables:
  tagName: '$(Build.BuildNumber)'
  latestImageName: '$(dockerId)/activityreservation:latest'
  imageName: '$(dockerId)/activityreservation:$(tagName)'

steps:
- script: dotnet --info
  displayName: 'dotnet info'

- script: dotnet build -c Release
  displayName: 'dotnet build'

- script: dotnet test 
  displayName: 'dotnet test'

- script: docker build -f Dockerfile -t $(imageName) -t $(latestImageName) .
  displayName: 'Docker build Script'

- script: |
    docker login -u $(dockerId) -p $(pswd)
    docker push $(imageName)
    docker push $(latestImageName)
  displayName: 'Push docker image'

- task: SSH@0
  displayName: 'Run shell inline on remote machine'
  inputs:
    sshEndpoint: 'weihanli-vm'
    runOptions: inline

    inline: |
      kubectl set image deployment/activityreservation activityreservation=$(imageName) --record=true
