<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">{{title}}</span>
  </mat-toolbar>

  <mat-sidenav-content class="app-content">
    <app-reservation-list></app-reservation-list>
    <!-- <app-notice-list></app-notice-list> -->
  </mat-sidenav-content>
</mat-sidenav-container>