<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" class="app-sidenav" color="primary">
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">{{title}}</span>
  </mat-toolbar>

  <div class="app-content">
    <!-- <mat-card>
      <mat-card-content>
        <app-reservation-list></app-reservation-list>
      </mat-card-content>
    </mat-card> -->
    <div>
      <app-reservation-list></app-reservation-list>
    </div>    
    <!-- <app-notice-list></app-notice-list> -->
  </div>
</mat-sidenav-container>
