<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Custom Settings Start -->
    <!-- Redis -->
    <add key="redisConf" value="127.0.0.1:6379" />
    <!-- Wechat -->
    <add key="WechatToken" value="Reservation" />
    <add key="WechatAppId" value="wx7858bf8ff81c0235" />
    <add key="WechatAppSecret" value="a3ee360272e0238eb45c610e8b8de699" />
    <add key="WechatAESKey" value="pvX2KZWRLQSkUAbvArgLSAxCwTtxgFWF3XOnJ9iEUMG" />
    <!-- Sentry -->
    <add key="SentryClientKey" value="https://04ad3ad1e74b44a2a6fda72b517d1657:131cf95155564816bdbfcc2b7f7be62a@sentry.io/189603" />
    <!-- Geetest key -->
    <add key="GeetestPublicKey" value="b46d1900d0a894591916ea94ea91bd2c" />
    <add key="GeetestPrivateKey" value="36fc3fe98530eea08dfc6ce76e3d24c4" />
    <!-- Google Recaptcha -->
    <add key="GoogleRecaptchaSiteKey" value="6Lc-vz0UAAAAAG38zeZKM7_pQL5k4Z7FpnrtU_3A" />
    <add key="GoogleRecaptchaSecret" value="6Lc-vz0UAAAAAEOFBcj_2WeoGjnSBf5lmh4j5DH9" />
    <!-- Custom Settings End -->
  </appSettings>
  <connectionStrings>
    <add name="ReservationConn" connectionString="Server=.;Initial Catalog=Reservation;User ID=liweihan;Password=Admin888;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>