@{
    ViewBag.Title = "我的账户";
}
<div class="table-wraper">
    <div class="table-header">
        <h3 class="table-title">我的账户</h3>        
    </div>
    <div class="table-body" id="div_main"></div>
</div>