@model ActivityReservation.AdminLogic.ViewModels.NoticeViewModel

@{
    ViewBag.Title = "Preview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="div_main">
    <h2>
        @Model.Title
    </h2>
    <div>
        @Html.Raw(Model.Content)
    </div>
</div>