@{
    ViewBag.Title = "首页";
}
@section styles{
    <style>
        .table>tbody>tr>td {
            vertical-align:middle;
        }
    </style>
}
<div class="container">
    <div class="form-inline" style="margin:1em 0">
        <div class="form-group">
            <input type="search" name="SearchItem1" id="contactPhone" value="" placeholder="预约人联系方式" class="form-control" />
        </div>
        <button id="btnSearch" class="btn btn-primary">搜索</button>
    </div>
    <div id="div_main">

    </div>
    <form id="checkForm" class="hidden" action="@Url.Action("Check")" method="post">
        <input name="id" id="reId" value="" />
    </form>
</div>
@section scripts{
<script>
    var pageSize = 10;
    function loadData(pageIndex) {
        if (!pageIndex) {
            pageIndex = 1;
        }
        $.post("/Home/ReservationList", { "PageIndex": pageIndex, "PageSize": pageSize, "SearchItem1": $("#contactPhone").val() }, function (data, status) {
            if (status == "success") {
                $("#div_main").html(data);
            } else {
                layer.msg('数据加载异常，请稍后重试！');
            }
        });
    }
    function view(id) {
        $("#reId").val(id);
        $("#checkForm").submit();
    }
    //
    $("#btnSearch").on("click", function () {
        loadData();
    });
    $(function () {
        loadData();
    });
</script>
}