@{
    ViewBag.Title = "首页";
}

<div class="container" style="padding:1.5em">
    <div class="row form-horizontal">
        
    </div>
    <div id="div_main">

    </div>
</div>
@section scripts{
<script>
    var pageSize = 10;
    function loadData(pageIndex) {
        if (!pageIndex) {
            pageIndex = 1;
        }
        $.post("/Home/ReservationList", { pageIndex: 1, pageSize: pageSize }, function (data,status) {
            if (status=="success") {
                $("#div_main").html(data);
            }
        });
    }
    $(function () {
        loadData();
    });
</script>
}